.main{
    margin-top:4rem;
    padding:15px 12%;
}
.member-title{
    color:rgb(125, 212, 212);
    font-size: 3rem;
    margin:10px 25%;
    padding: 10px 10px;
    
}
.desc{
    padding: 10px 20px;
    margin-left: 25px;
    width:45%;
}
.grid-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .member-grid {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .member-card {
    
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .member-img img{
    width:250px;
    object-fit: contain;
  }
  .member-count{
    border-left:4px solid rgb(115, 196, 205) ;
    font-weight: 400;
    padding:15px 10px;
    color:black
  }
  
  .arrow-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  
  
  .right {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  