.About{
    background-color: rgb(212, 234, 238);
    
    width:130%;
    margin:0 0.5rem;
    margin-top: 24vh;
    margin-bottom:5vh;
}
.about-title{
    color: #03045E;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
   font-weight: 400;
}

.card{
    display: grid;
    margin-left: 40px;
    margin-right: 60px;
    background-color: white;
    border:2px solid rgb(146, 144, 144);
    border-radius: 15px;
    margin-bottom: 25vh;
    padding: 50px;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    box-shadow: 10px 3px 20px rgba(0,0,0,0.3);
}


.image img{
    width:500px;
    height:440px;
    border-radius: 20px;
    margin-top: 10px;
}
.right-container .text{
    width:37vw;
    font-size: 2rem;
    margin-top: 15px;
    line-height: 2.7rem;
    margin-bottom: 15px;
    word-spacing: 1.2rem;
    color: black;
}
.know{
    color:rgb(56, 158, 174) ;
    font-size: 2rem;
    padding: 15px 35px;
    border:2px solid  rgb(56,158,174);
    border-radius:40px ;
    background-color: white;
    margin-top: 1rem;
    box-shadow: 10px 3px 20px rgba(0,0,0,0.3);
}